.BodyRightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec2a7b34;
  border-radius: 0px;
  padding: 0px 10px;
  gap: 100px;
  border-bottom: 3px dashed #ec2a7b;
  margin-top: 0px;

  .markText {
    margin: 5px;
  }
 
  .isLike {
    color: #f2f2f2;
    background-color: #ec2a7b;
  }

  .markReview {
    text-align: center;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .BodyRightContent {
    gap: 10px;
  }
}

.markLikeButton, .abcButton, .countIndex {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  background: #ec2a7b;
  color: white;
  font-weight: 600;
  &:hover {
    background-color: #f9036a;
    color: black;
    transition: 0.1s ease-in-out;
  }
}

