.examHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border-top: dashed 5px #ec2a7b;
  border-bottom: dashed 5px #ec2a7b;
  padding: 20px 0;
  .examTool {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }

  .dropdownBodyText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .examTime {
    text-align: center;
  }
  .dropdown {
    text-align: center;
  }
}

.hideButton {
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  background: #ec2a7b;
  color: white;
  font-weight: 600;
  &:hover {
    background-color: #f9036a;
    color: black;
    transition: 0.1s ease-in-out;
  }
}
