.footer {
  background-image: url("./../../public/image/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .footerMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footerLeft {
    text-align: center;
  }
  h6 {
    margin-top: 50px;
  }
  h6,
  p {
    color: rgba(0, 0, 0, 0.448);
  }
}
