.dropdownMenu {
  position: absolute;
  bottom: 100%;

  background-color: #f8f8f8;
  border: 1px solid #f36060;
  list-style: none;
  display: flex;
  padding: 0px;
  left: -100px;
}

.dropdownMenuItem {
  // margin-bottom: 8px;
  padding: 10px;
}

.activeButton{
  background-color: #f36060;
  color: white;
}


