.header {
  background: linear-gradient(-45deg, #a9508a, #ec2a7b);
  padding: 20px 0;
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .logoImg {
    width: 100px;
  }
  .headerText {
    text-align: center;
    padding: 80px 0;
    p {
      font-size: 40px;
      color: white;
    }
  }
  .headerSignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .person {
      width: 30px;
      height: 30px;
    }
    .userName {
      font-size: 30px;
      color: black;
      margin: 0;
      padding: 0;
    }
  }
}
