.header {
  // background: linear-gradient(-45deg, #a9508a, #ec2a7b);
  background-image: url("./../../public/image/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  padding: 20px 0;
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .headerText {
    text-align: center;
    padding: 20px 0;
    p {
      font-size: 30px;
      font-weight: 800;
      color: rgba(6, 6, 6, 0.711);
    }
  }
}


@media screen and (max-width: 768px) {
  .header {
    .headerText {
      text-align: center;
      padding: 20px 0;
      p {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.711);
      }
    }
  }
}

.yourTest {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .title {
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
  }
  .activePast {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    button {
      border: none;
      color: white;
      background: #ec2a7bb8;
      border-radius: 20px;
      padding: 10px 20px;
      &:hover {
        background: #ec106b;
      }
    }
  }
}

.testCard {
  margin-top: 50px;
  border: 2px solid #ec2a7b0e;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}

.main,
.practice {
  background-color: #a9508a1d;
}

.satTestBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.satTestBtn {
  padding-right: 80px;
  button {
    border: none;
    background: #ec2a7b;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    &:hover {
      background: #ec106cac;
    }
  }
}

.cardBorderRadius {
  border-radius: 20px;
}
